.list-item{
    display:flex;
    justify-content: space-between;
    align-content: center;
}
.navbar{
    background-color: #2f2d4e;
    color: white;
    text-align: center;
}
#seemore {
    align-content: center;
    margin-top: 10px;
}
.btn.btn-link{
    border-radius: 0;
    border-size: 1px;
    border-color: grey;
}
.btn.btn-primary.btn-block {
    border-radius: 0;
  }